<li class='country-list__item'>
  <a class='country-list__link' href=''>
    <img class='country-list__flag' src='{{flag}}' alt='flag img' width='50' />
    <p class='country-list__name'>{{name}}</p>
  </a>
</li>